// *************************************
//
//   Grid
//   -> A simple flexbox grid system
//
// *************************************

.grid {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;

  @include media('large') {
    width: $grid-width;
  }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Row ----- //

.grid-row {
  @extend %row;
}

// ----- Column ----- //

@include grid-columns;
